<!DOCTYPE html>
<html class="app" lang="en-us">
    <head>
        <meta charset="utf-8" />
        <title>Main Application</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" type="text/css" href="vendor/kendo/styles/kendo.common.min.css" />
        <link rel="stylesheet" type="text/css" href="vendor/kendo/styles/kendo.common-bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="vendor/kendo/styles/kendo.default.min.css" />
        <link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="vendor/animate-css/animate.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/font.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/app.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/override.css" />
        <!--[if lt IE 9]>
            <script type="text/javascript" src="vendor/html5shiv/dist/html5shiv.js"></script>
            <script type="text/javascript" src="vendor/respond/dest/respond.min.js"></script>
            <script type="text/javascript" src="vendor/excanvas/excanvas.js"></script>
        <![endif]-->
        <!-- Core Libraries -->
        <script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="vendor/kendo/js/kendo.all.min.js"></script>
        <script type="text/javascript" src="vendor/kendo/js/cultures/kendo.culture.en-US.min.js"></script>
        <script type="text/javascript" src="vendor/kendo/js/messages/kendo.messages.en-US.min.js"></script>
        <script type="text/javascript" src="vendor/jszip/dist/jszip.min.js"></script>
        <!-- Library Extensions -->
        <script type="text/javascript" src="vendor/psc/lib/progress.all.js"></script>
        <script type="text/javascript" src="vendor/spark/lib/plugins.js"></script>
        <script type="text/javascript" src="vendor/spark/lib/spark.min.js"></script>
        <script type="text/javascript">
            var serviceURI = "/api/";
            var catalogURI = "/<WebApp>.json";
            var authModel = progress.data.Session.AUTH_TYPE_FORM;
            var redirectOnLogout = true;
            var loginScreenURI = "/login.html";
        </script>
        <script type="text/javascript" src="app/main.js"></script>
    </head>
    <body>
        <section class="vbox">
            <header class="header header-md navbar bg-primary" id="mainHeader" style="min-height:50px;">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="navbar-header aside-sm">
                            <h2 class="m-l m-t-sm">Demo&nbsp;Application</h2>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div id="mainMenu" class="pull-right"></div>
                    </div>
                </div>
            </header>
            <section>
                <section class="vbox stretch">
                    <section id="dashContent" class="row">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-8 text-center bg-white">
                            <h1>
                                <span class="fa-stack fa-2x icon-muted">
                                    <i class="fa fa-file-o fa-stack-2x"></i>
                                    <i class="fa fa-thumbs-up fa-stack"></i>
                                </span>
                            </h1>
                            <h2 class="m-t-lg">Start Using The Application</h2>
                            <p class="text-lg text-muted">Select a menu option from above to get started.</p>
                        </div>
                        <div class="col-xs-2"></div>
                    </section>
                    <section id="mainContent"></section>  
                </section>
            </section>
        </section>
    </body>
</html>
